#LoginRegister {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--padding_10);
  .LoginRegister-Container {
    display: flex;
    width: clamp(300px, 100%, 1000px);
    .Details-Container {
      aspect-ratio: 1/1;
      background-color: var(--colour_primary_light);
      border-radius: var(--border_radius_6);
      width: clamp(300px, 100%, 768px);
      padding: var(--padding_20);
      h1 {
        color: var(--colour_primary_dark);
        font-size: var(--font_size_40);
      }
    }
    .Form-Container {
      width: clamp(300px, 100%, 768px);
      padding: var(--padding_20);
      background-color: #fff;
      border-radius: var(--border_radius_6);
      .Form-Title {
        margin-bottom: 10px;
        height: 60px;
        h1 {
          font-family: var(--font_family_title);
          letter-spacing: 1px;
          font-size: var(--font_size_32);
        }
        p {
          font-size: var(--font_size_16);
          margin-top: 3px;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 80px);
        .Input-Container {
          display: flex;
          flex-direction: column;
          .Link-Container {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #LoginRegister {
    .LoginRegister-Container {
      flex-wrap: wrap;
      .Details-Container {
        width: 100%;
        aspect-ratio: 4/3;
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;
        border-radius: 0px;
      }
      .Form-Container {
        width: 100%;
        max-width: 570px;
        margin: auto;
      }
    }
  }
}
