#LoginRegister {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--padding_10);
}
#LoginRegister .LoginRegister-Container {
  display: flex;
  width: clamp(300px, 100%, 1000px);
}
#LoginRegister .LoginRegister-Container .Details-Container {
  aspect-ratio: 1/1;
  background-color: var(--colour_primary_light);
  border-radius: var(--border_radius_6);
  width: clamp(300px, 100%, 768px);
  padding: var(--padding_20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#LoginRegister .LoginRegister-Container .Details-Container .Image-Container img {
  width: 100%;
}
#LoginRegister .LoginRegister-Container .Form-Container {
  width: clamp(300px, 100%, 768px);
  padding: var(--padding_20);
  padding-bottom: 0px;
  background-color: #fff;
  border-radius: var(--border_radius_6);
}
#LoginRegister .LoginRegister-Container .Form-Container .Form-Title {
  margin-bottom: 20px;
  height: 60px;
}
#LoginRegister .LoginRegister-Container .Form-Container .Form-Title h1 {
  font-family: var(--font_family_title);
  letter-spacing: 1px;
  font-size: var(--font_size_32);
}
#LoginRegister .LoginRegister-Container .Form-Container .Form-Title p {
  font-size: var(--font_size_16);
  margin-top: 3px;
}
#LoginRegister .LoginRegister-Container .Form-Container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 80px);
}
#LoginRegister .LoginRegister-Container .Form-Container form .Error-Container {
  margin-bottom: 7px;
}
#LoginRegister .LoginRegister-Container .Form-Container form .Error-Container p {
  color: var(--bg_colour_red);
  font-size: var(--font_size_14);
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container {
  display: flex;
  flex-direction: column;
  min-height: 225px;
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .Link-Container {
  margin-top: 5px;
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .Link-Container span {
  color: var(--colour_primary_dark);
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .Line-Container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .Line-Container .Line {
  width: 100%;
  height: 1px;
  background-color: var(--bg_colour_lgray);
  border-radius: 2px;
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .Line-Container .Word {
  padding: 0px 20px;
  color: var(--text_colour_dkgray);
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .UITM-SSO {
  margin-top: 20px;
}
#LoginRegister .LoginRegister-Container .Form-Container form .Input-Container .UITM-SSO a {
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: var(--border_radius_6);
  background-color: var(--bg_colour_white);
  color: var(--text_colour_black);
}
#LoginRegister .LoginRegister-Container .Form-Container form .Button-Container.Register {
  display: flex;
  justify-content: space-between;
  gap: var(--padding_20);
}
#LoginRegister .LoginRegister-Container .Form-Container form .Button-Container.Register button {
  width: 100%;
  max-width: 50%;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #LoginRegister {
    padding: 0px;
  }
  #LoginRegister .LoginRegister-Container {
    padding-top: var(--height_nav);
    flex-wrap: wrap;
    height: 100vh;
  }
  #LoginRegister .LoginRegister-Container .Details-Container {
    width: 100%;
    aspect-ratio: 16/9;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0px;
  }
  #LoginRegister .LoginRegister-Container .Details-Container .Title h1 {
    text-align: center;
  }
  #LoginRegister .LoginRegister-Container .Form-Container {
    width: 100%;
    max-width: 570px;
    margin: 0px auto;
    padding-bottom: 20px;
  }
  #LoginRegister .LoginRegister-Container .Form-Container .Form-Title {
    margin-bottom: 5px;
  }
  #LoginRegister .LoginRegister-Container .Form-Container form .Button-Container.Register {
    gap: 10px;
  }
}/*# sourceMappingURL=LoginRegister.css.map */