#GuestNavigation {
  width: 100%;
  height: var(--height_nav);
  background-color: var(--bg_colour_white);
  position: fixed;
  z-index: 10;
  box-shadow: var(--box_shadow_1);
}
#GuestNavigation .Container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#GuestNavigation .Container .Section {
  display: flex;
  align-items: center;
  gap: var(--gap_15);
  padding: 0px;
}
#GuestNavigation .Container .Section .Logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
#GuestNavigation .Container .Section .Logo h3 {
  color: var(--colour_primary_dark);
  letter-spacing: 1px;
}
#GuestNavigation .Container .Section .List {
  display: flex;
}
#GuestNavigation .Container .Section .List li a {
  display: block;
  padding: var(--padding_1020);
  color: var(--text_colour_black);
  font-weight: var(--font_weight_bold);
}
#GuestNavigation .Container .Section .List li a:hover {
  color: var(--colour_primary_dark);
}
#GuestNavigation .Container .Section.Hamburger {
  display: none;
}
#GuestNavigation .Container .Section.Hamburger .Hamburger {
  width: 45px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: var(--border_radius_6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
#GuestNavigation .Container .Section.Hamburger .Hamburger div {
  width: 30px;
  height: 5px;
  background-color: var(--bg_colour_black);
  margin: 3px auto;
  border-radius: 4px;
}
#GuestNavigation .Container .Section.Hamburger .Hamburger.Active div.Top {
  transform: rotate(45deg) translateX(8px) translateY(8px);
}
#GuestNavigation .Container .Section.Hamburger .Hamburger.Active div.Mid {
  width: 0;
  opacity: 0;
}
#GuestNavigation .Container .Section.Hamburger .Hamburger.Active div.Bot {
  transform: rotate(-45deg) translateX(8px) translateY(-8px);
}
#GuestNavigation #SideNav {
  display: none;
  position: fixed;
  top: var(--height_nav);
  right: 0;
  height: calc(100% - var(--height_nav));
  background-color: var(--bg_colour_white);
  transform: translateX(100%);
  width: 100%;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
#GuestNavigation #SideNav.Active {
  transform: translateX(0px);
}
#GuestNavigation #SideNav .Section .List li a {
  text-align: center;
  display: block;
  padding: 30px 10px;
  color: var(--text_colour_black);
  font-weight: var(--font_weight_bold);
}
#GuestNavigation #SideNav .Section .List li a:hover {
  color: var(--colour_primary_dark);
}
#GuestNavigation #SideNav .Section.Button {
  max-width: 100%;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #GuestNavigation {
    position: fixed;
  }
  #GuestNavigation .Container .Section .List {
    display: none;
  }
  #GuestNavigation .Container .Section.Button {
    display: none;
  }
  #GuestNavigation .Container .Section.Hamburger {
    display: block;
  }
  #GuestNavigation #SideNav {
    display: flex;
  }
  #GuestNavigation #SideNav .Section.Button {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=GuestNavigation.css.map */