#DefaultNavigation {
  background-color: var(--bg_colour_white);
  height: 60px;
  box-shadow: var(--box_shadow_1);
  position: fixed;
  z-index: 2;
  width: 100%;
  //   TOP NAVIGATION
  .Container-Top {
    width: var(--width-Container-4K);
    margin: auto;
    height: 100%;
    padding: var(--padding_020);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Section {
      &.Logo {
        .Logo {
          color: var(--colour_primary_dark);
          letter-spacing: 1px;
        }
      }
      &.Action {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
        .Card {
          border-radius: var(--border_radius_6);
          .image {
            .Option {
              display: grid;
              place-items: center;
              height: 100%;
              padding: 5px 10px;
              cursor: pointer;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  //   SIDE NAVIGATIONs
  .Container-Side {
    background-color: var(--colour_primary_light);
    padding: 20px;
    width: 200px;
    height: calc(100vh - 60px);
  }
}
